<li>
	<article>
		<a href="#">
			<img
				src="{{imgSrc}}"
				alt="{{imgAlt}}"
				class="cabin-img"
			/>
		</a>
		<h2 class="cabin-title">{{title}}</h2>
		<p class="cabin-desc">
			{{desc}}
		</p>

		<a href="#" class="cabin-cta">
			<span class="cabin-info">Cabin Info</span>
			<img src="{{arrowSrc}}" alt="" />
		</a>
	</article>
</li>
